<div class="wavy_pattern">
  <div class="footer__container">
    <a class="social_icon__link" href="https://lekarzrodzinny.blog/" target="_blank"><i
      class="fas fa-blog social_icon"></i></a>
    <a class="social_icon__link" href="https://www.facebook.com/lekarzrodzinny.blog" target="_blank"><i
      class="fab fa-facebook social_icon"></i></a>
    <a class="social_icon__link" href="https://twitter.com/lekbiesiada" target="_blank"><i
      class="fab fa-twitter social_icon"></i></a>
    <a class="social_icon__link" href="https://www.instagram.com/lekarzrodzinny.blog/" target="_blank"><i
      class="fab fa-instagram social_icon"></i></a>
  </div>
</div>
