<div class="footer__wrapper">
  <div class="d-flex justify-content-center">
    <h1>
      <a class="social_icon__link" href="https://lekarzrodzinny.blog/" target="_blank"><i class="fas fa-blog social_icon"></i></a>
      <a class="social_icon__link" href="https://www.facebook.com/lekarzrodzinny.blog" target="_blank"><i class="fab fa-facebook social_icon"></i></a>
      <a class="social_icon__link" href="https://twitter.com/lekbiesiada" target="_blank"><i class="fab fa-twitter social_icon"></i></a>
      <a class="social_icon__link" href="https://www.instagram.com/lekarzrodzinny.blog/" target="_blank"><i class="fab fa-instagram social_icon"></i></a>
    </h1>
  </div>
  <div class="family_doc d-flex justify-content-center">
  <p class="applyGoogleFont">© 2020 <a class="family_doc__link" href="https://lekarzrodzinny.blog/" target="_blank">Lekarz Rodzinny.blog</a> - All Rights Reserved.</p>
  </div>
</div>
