<div class="main_div">
  <div class="row">
    <div class="col-md-2 d-flex justify-content-center">
      <a href="/"><i class="fas fa-home icon_home"></i></a>
    </div>
    <div class="col-md-8">
      <div class="header_title d-flex justify-content-center">
        <p class="applyGoogleFont font_size_50px">{{title}}</p>
      </div>
      <div class="d-flex justify-content-center">
        <p class="applyGoogleFont font_size_12px">{{subtitle | uppercase}}</p>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
