.main_div {
  width: 100%;
  background-color: #F5F5F5;
  color: #696969;
}

@media (max-width: 780px) {
  .icon_home {
    visibility: hidden;
  }
  .title__font_size {
    font-size: 28px;
    font-weight: bold;
    margin-top: -20px;
    text-align: center;
  }
  .subtitle__font_size {
    font-size: 12px;
    text-align: center;
  }
}
@media (min-width: 780px) {
  .icon_home {
    color: #C0C0C0;
    font-size: 30px;
    text-decoration:none;
    padding-top: 60px;
  }
  .title__font_size {
    font-size: 50px;
    padding-top: 20px;
  }
  .subtitle__font_size {
    font-size: 12px;
  }
}

