<!--<header></header>-->
<div id="app_body">
  <div class="app_start__container">
    <div class="survey__wrapper">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 d-flex justify-content-center" routerLink="/questionnaire">
          <img src="./assets/graphics/survey.png" class="app_start__image">
        </div>
        <div class="col-md-4 d-flex align-items-center">
          <div>
            <h2
              class="applyGoogleFont custom_blue bold section_title_right">{{processVariablesService.applicationData.appStart.fillInQuestionnaire | uppercase}}</h2>
            <p
              class="applyGoogleFont section_info_right">{{processVariablesService.applicationData.appStart.questionnaireInfo}}</p>
            <div class="button_wrapper_right">
              <a class="custom-button pop-onhover bg-gradient align_right" routerLink="/questionnaire">
                <span>{{processVariablesService.applicationData.appStart.fillInQuestionnaire | uppercase}}</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>

    <div class="carousel__wrapper">
      <p
        class="text-center applyGoogleFont custom_blue__lighter">{{processVariablesService.applicationData.appStart.carouselTopText}}</p>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a href="https://lekarzrodzinny.blog/" target="_blank">
                  <img src="./assets/graphics/carousel_covid.jpg" class="d-block w-100">
                  <div class="carousel-caption">
                    <div class="caption_dark_wrapper">
                      <h1 class="applyGoogleFont">{{processVariablesService.applicationData.appStart.covid |
                        uppercase}}</h1>
                    </div>
                  </div>
                </a>
              </div>
              <div class="carousel-item">
                <a href="https://lekarzrodzinny.blog/" target="_blank">
                  <img src="./assets/graphics/carousel_flu.jpg" class="d-block w-100">
                  <div class="carousel-caption">
                    <div class="caption_dark_wrapper">
                      <h1
                        class="applyGoogleFont">{{processVariablesService.applicationData.appStart.flu | uppercase}}</h1>
                    </div>
                  </div>
                </a>
              </div>
              <div class="carousel-item">
                <a href="https://lekarzrodzinny.blog/" target="_blank">
                  <img src="./assets/graphics/carousel_pregnancy.jpg" class="d-block w-100">
                  <div class="carousel-caption">
                    <div class="caption_dark_wrapper">
                      <h1 class="applyGoogleFont">
                        {{processVariablesService.applicationData.appStart.pregnancy | uppercase}}
                      </h1>
                    </div>
                  </div>
                </a>
              </div>
              <div class="carousel-item">
                <a href="https://lekarzrodzinny.blog/" target="_blank">
                  <img src="./assets/graphics/carousel_pneumococcus.jpg" class="d-block w-100">
                  <div class="carousel-caption">
                    <div class="caption_dark_wrapper">
                      <h1 class="applyGoogleFont">
                        {{processVariablesService.applicationData.appStart.pneumococcus | uppercase}}
                      </h1>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>

    <div class="order_ebook__wrapper">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <div>
            <h2 class="applyGoogleFont custom_blue bold section_title_left">
              {{processVariablesService.applicationData.appStart.orderEbook | uppercase}}
            </h2>
            <p class="applyGoogleFont section_info_left">
              {{processVariablesService.applicationData.appStart.orderEbookInfo}}
            </p>
            <div class="button_wrapper_left">
              <a href="https://lekarzrodzinny.blog/" target="_blank"
                 class="custom-button pop-onhover bg-gradient align_left">
                <span>{{processVariablesService.applicationData.appStart.orderEbookBtn | uppercase}}</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <a href="https://lekarzrodzinny.blog/" target="_blank" class="d-flex justify-content-center">
            <img src="./assets/graphics/order_ebook.png" class="app_start__image">
          </a>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</div>
<!--<footer></footer>-->
