<div id="app_body">
  <div class="app_start__container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <div class="questionnaire__wrapper d-flex justify-content-center">
          <div class="questionnaire__container">
            <a href="#" routerLink="/questionnaire">
              <img src="./assets/graphics/fill-in-query.jpg" class="img-fluid questionnaire__image box_shadow">
              <div class="questionnaire_text__centered link_text">{{fillInQuestionnaire | uppercase}}</div>
            </a>
          </div>
        </div>
        <div class="vaccination_links__wrapper d-flex justify-content-center">
          <div class="vaccination_links__container">
            <div class="row">
              <div class="col-md-4 d-flex justify-content-center">
                <div class="small_link__container">
                  <a href="https://lekarzrodzinny.blog/" target="_blank">
                    <img src="./assets/graphics/flu.jpg" class="img-fluid small_link__image box_shadow">
                    <div class="small_link_text__centered link_text__smaller">{{covid | uppercase}}</div>
                  </a>
                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-center">
                <div class="small_link__container">
                  <a href="https://lekarzrodzinny.blog/" target="_blank">
                    <img src="./assets/graphics/pneumococcus.jpg" class="img-fluid small_link__image box_shadow">
                    <div class="small_link_text__centered link_text__smaller">{{pneumococcus | uppercase}}</div>
                  </a>
                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-center">
                <div class="small_link__container">
                  <a href="https://lekarzrodzinny.blog/" target="_blank">
                    <img src="./assets/graphics/pregnancy.jpg" class="img-fluid small_link__image box_shadow">
                    <div class="small_link_text__centered link_text__smaller">{{pregnancy | uppercase}}</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 d-flex justify-content-center align-items-center">
        <div class="order_ebook__container">
          <a href="https://lekarzrodzinny.blog/" target="_blank">
            <img src="./assets/graphics/order-ebook.jpg" class="img-fluid order_ebook__image box_shadow">
            <div class="small_link_text__centered link_text__smaller">{{orderEbook | uppercase}}</div>
          </a>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
<div id="app_footer">
  <footer></footer>
</div>


