body, html {
  width: 100%;
}

.applyGoogleFont {
  font-family: 'Playfair Display', serif;
}

@media (max-width: 780px) {
  .main_div_wrapper {
    min-height: 100%;
    width: 100%;
    padding-top: 120px;
  }
}
@media (min-width: 780px) {
  .main_div_wrapper {
    min-height: 100%;
    width: 100%;
    padding-top: 180px;
  }
}
